*{
    scroll-behavior: smooth;
    font-family: Serif;
}

/*-------------------------------CSS for Header---------------------------------*/

.header{
    position: fixed;
    height: 3vw;
    right: 0;
    left: 0;
    z-index: 100;
    background-color: #FFFFFF;
}

.nav-list{
    margin-bottom: 0;
    margin-top: 0;
    justify-content: center;
    display: flex;
}

.nav-list>a>h4{
    color: black;
    padding-left: 2vw;
    padding-right: 2vw;
    transition: 0.3s;
}

.nav-list>img:first-child{
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 0.3vw;
    width: 2.5vw;
    height: 2.5vw;
    cursor: pointer;
    transition: 0.3s;
}

.nav-list>img:hover{
    padding-left: 3vw;
    padding-right: 3vw;
    transition: 0.3s;
    filter: drop-shadow(0 0 1vw black);
    transform: rotate(360deg);
}

.nav-list>a>h4:hover{
    border-bottom: 2px solid grey;
    border-radius: 3vw;
    cursor: pointer;
    padding-left: 2vw;
    padding-right: 2vw;
    transition: 0.1s;
    filter: drop-shadow(0 0 1vw grey);
}

/*---------------------------------Section sizing--------------------------------------*/

.home, .about, .education, .quote-02, .projects, .gallery{
    position: relative;
    height: 100vh;
    right: 0;
    left: 0;
}

.quote-01, .skills, .contact{
    position: relative;
    height: 50vh;
    right: 0;
    left: 0;
    background-color: black;
}

/*----------------------------------CSS for Home----------------------------------------*/
.main-background{
    height: 94.621vh;
    right: 0;
    position: relative;
    left: 0;
    padding-top: 3vw;
    /*background-color: red;*/
}

.home-background{
    height: 100%;
    width: 100%;
    background: url("../images/banner.png");
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.home-about{
    color: #FFFFFF;
    margin-right: 44vw;
    margin-top: 25vw;
    font-family: "Nimbus Roman";
}

.home-about>h1{
    margin-left: 9vw;
    font-size: 3vw;
}


.home-about>h3:nth-child(2){
    margin-left: 7.5vw;
    font-size: 2vw;
}

.home-about>h3:nth-child(3){
    background-color: #FFFFFF;
    color: black;
    border-radius: 1vw;
    margin-left: 1vw;
    font-size: 1vw;
}
.home-links{
    z-index: 2;
    display: flex;
    flex-direction: column;
    width: 4vw;
    height: 35vw;
    background-color: white;
    justify-content: space-around;
    box-shadow: 0 0 3vh;
    align-items: center;
    margin-right: 2vw;
    border-radius: 2vw;
}

.home-links>a>img{
    height: 3vw;
    transition: 0.3s;
}

.home-links>a>img:hover{
    height: 4vw;
    transition: 0.3s;
    filter: drop-shadow(0 0 0.5vw grey);
}

/*-----------------------------Css for About----------------------------------*/

.about>img:nth-child(1){
    margin-top: 2vw;
    margin-bottom: 2vw;
    height: 96vh;
    display: inline-block;
}

.about{
    display: flex;
}

.about-content{
    margin-top: 2vw;
    margin-bottom: 2vw;
    position: relative;
    right: 0;
    height: 96vh;
}

.about-content>div{
    position: relative;
    right: 0;
    display: inline-block;
    height: 23.16vw;
}

.about-content>div:nth-child(1){
    color: black;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
}

.about-content>div:nth-child(2){
    color: #FFFFFF;
    background-color: black;
    border: 1px solid black;
}
.about-content>div:nth-child(1)>h1, .about-content>div:nth-child(2)>h1{
    font-size: 2.5vw;
    display: inline-block;
    padding-left: 2vw;
    padding-bottom: 2vw;
    padding-top: 1vw;
}

.about-content>div:nth-child(1)>p, .about-content>div:nth-child(2)>p{
    font-size: 1.5vw;
    display: inline-block;
    padding-left: 2vw;
    padding-right: 2vw;
}

/*---------------------------CSS for Education-------------------------*/

.education{
    position: relative;
}

.education>div{
    background-color: black;
    color: #FFFFFF;
    font-size: 1.2vw;
    display: inline-block;
    width: 32vw;
    height: 6vw;
    border: 1px solid black;
    border-radius: 2vw;
    text-align: center;
    position: relative;
}

.education-sirisumana{
    left: 5vw;
    top: 3vw;
}

.education-aloysius{
    right: 14vw;
    top: 14vw;
}

.education-ijse{
    right: 31vw;
    top: 25vw;
}

.education>img{
    position: relative;
}

.education>img:nth-child(4){
    left: 11.5vw;
    top: 2.5vw;
}

.education>img:nth-child(5){
    left: 19.5vw;
    top: 13.5vw;
}

.education>img:nth-child(6){
    bottom: 8.5vw;
    left: 21.7vw;
}

.education>img:nth-child(7){
    right: 9vw;
    top: 2.5vw;
}

.education>img:nth-child(8){
    left: 64.7vw;
    top: 11vw;
}

.education>div:nth-child(9){
    position: relative;
    display: flex;
    background-color: #FFFFFF;
    border: #FFFFFF;
    width: 7vw;
    padding-bottom: 3vw;
    flex-direction: column;
    left: 81vw;
    bottom: 18vw;
}

.education>div:nth-child(9)>a:nth-child(1)>img, .education>div:nth-child(9)>a:nth-child(2)>img, .education>div:nth-child(9)>a:nth-child(3)>img{
    padding-top: 3vw;
    padding-bottom: 2vw;
    transition: 0.3s;
}

.education>div:nth-child(9)>a>img:hover{
    transition: 0.3s;
}

.education>div:nth-child(9)>a:nth-child(1)>img:hover{
    filter: drop-shadow(0 0 0.5vw orange);
}

.education>div:nth-child(9)>a:nth-child(2)>img:hover{
    filter: drop-shadow(0 0 0.5vw greenyellow);
}

.education>div:nth-child(9)>a:nth-child(3)>img:hover{
    filter: drop-shadow(0 0 0.5vw orangered);
}

.education>img:nth-child(10){
    position: relative;
    bottom: 2vw;
    left: 1vw;
    z-index: 5;
}

.education>div:nth-child(11){
    position: relative;
    display: flex;
    background-color: #FFFFFF;
    border: #FFFFFF;
    color: black;
    right: 8vw;
    flex-direction: column;
    justify-content: center;
    bottom: 10vw;
    height: 10vw;
}

.education>p:nth-child(12){
    width: 83vw;
    position: relative;
    left: 13vw;
    font-size: 1.2vw;
    bottom: 6vw;
}

/*-----------------------------------------CSS for Quote-01--------------------------------------*/

.quote-01{
    background-color: black;
    color: #FFFFFF;
}

.quote-01>div:nth-child(1){
    border-right: 3px solid #FFFFFF;
    border-left: 3px solid #FFFFFF;
    width: 75vw;
    display: inline-block;
    position: relative;
    left: 11vw;
    top: 2vw;
}

.quote-01>div:nth-child(1)>p{
    font-size: 3vw;
    width: 50vw;
    height: 14vw;
    position: relative;
    left: 13vw;
    display: inline-block;
    top: 1vw;
}

.quote-01>div:nth-child(2), .quote-01>div:nth-child(3){
    width: 3vw;
    height: 3vw;
    border: 2px solid #FFFFFF;
    border-radius: 100%;
    background-color: #FFFFFF;
    display: inline-block;
    position: relative;
}

.quote-01>div:nth-child(2){
    right: 72vw;
}

.quote-01>div:nth-child(3){
    left: 11vw;
}

/*----------------------------------CSS for Quote-2---------------------------*/

.quote-02{
    background-color: #97B3B2;
    display: flex;
}

.quote-02-paragraph>p, .quote-02-paragraph>h4{
    display: inline-block;
    color: #FFFFFF;
}

.quote-02-paragraph>p{
    font-size: 5vw;
    width: 26vw;
    text-align: right;
    right: 5vw;
    position: relative;
    top: 4vw;
}

.quote-02-paragraph>h4{
    font-size: 1.1vw;
    position: relative;
    right: 5vw;
    bottom: 2vw;
}

.quote-02-paragraph{
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.quote-02-paragraph-photo{
    width: 50vw;
    height: 50vh;
    display: flex;
}

.quote-02-paragraph-photo>img{
    height: 35vw;
    top: 7vw;
    position: relative;
}

/*----------------------------CSS for projects--------------------------*/

.projects{
    height: 105vh;
}

.projects-sec-01{
    top: 1vw;
    background-color: #F4F4F4;
    height: 103vh;
    position: relative;
}

.projects-div-01{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.projects-div-01>h1{
    font-size: 2.5vw;
}

.projects-div-01>h2{
    opacity: 75%;
    font-size: 2vw;
}

.projects-div-02>a>img{
    transition: 0.3s;
    width: 65vw;
    display: inline-block;
    position: relative;
    left: 16vw;
    border-top-right-radius: 5vw;
    border-top-left-radius: 5vw;
}

.projects-div-02>a>img:hover{
    transition: 0.3s;
    filter: drop-shadow(0 0 1vw lightskyblue);
    width: 66vw;
}

.projects-div-03{
    display: inline-block;
    position: relative;
    left: 30vw;
}

.projects-div-03>h3{
    opacity: 75%;
    font-size: 1vw;
}

.projects-div-03>a>h3{
    position: relative;
    left: 15vw;
    font-size: 1vw;
    color: #0061F3;
    transition: 0.3s;
}

.projects-div-03>a>h3:hover{
    transition: 0.3s;
    filter: drop-shadow(0 0 0.5vw lightskyblue);
}

----------------------------------CSS for assignments-----------------------------

.assignments{
    height: 104vh;
}

.assignments-sec-01{
    top: 1vw;
    position: relative;
    background-color: #F4F4F4;
    height: 100vh;
}

.assignments-sec-01>h1{
    display: inline-block;
    left: 23vw;
    top: 2vw;
    opacity: 85%;
    font-size: 2vw;
    position: relative;
}

.assignments-sec-01>a>img{
    position: relative;
    top: 4vw;
    left: 16vw;
    width: 65vw;
}

.assignments-sec-01>a>img:hover{
    transition: 0.3s;
    width: 66vw;
    filter: drop-shadow(0 0 1vw lightskyblue);
}

/*-----------------------CSS for skills----------------------*/

.skills>hgroup{
    color: #FFFFFF;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.skills>hgroup>h2{
    font-size: 2vw;
}

.skills>hgroup>h4{
    font-size: 1.2vw;
}

.skills>div{
    top: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.skills>div>a>img{
    width: 4vw;
    margin-left: 2vw;
    margin-right: 2vw;
    transition: 0.3s;
}

.skills>div>a>img:hover{
    border: 1px solid lightskyblue;
    transition: 0.3s;
    filter: drop-shadow(0 0 1vw lightskyblue);
    margin-left: 2vw;
    margin-right: 2vw;
}

.skills>div:nth-child(3){
    margin-top: 2vw;
}