header {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 0;
    border-bottom: 2px solid #0056b3;
}

main {

    width: 99vw;
    height: 91.5vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.justify-content-center{
    flex-wrap: nowrap;
}

.border-container {
    border: 2px solid #007bff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 45vw;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.customer-form h2,
.search-table h2 {
    color: #007bff;
    margin-bottom: 20px;
    text-align: center;
}

#buttons{
    display: flex;
    justify-content: flex-end;
}

.btn-primary:focus,
.btn-primary:active {
    background-color: #ffffff;
    color: #007bff;
    border: 1px solid #007bff;
}

.customer-form-buttons{
    margin-right: 1vw;
}

.table-container {
    max-height: 400px;
    overflow-y: auto;
}

.nav-buttons:hover{
    color: blue;
}

#background{
    position: fixed;
    z-index: -1;
    width: 101vw;
    height: 92vh;
}