header {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 0;
    border-bottom: 2px solid #0056b3;
}

#background{
    position: fixed;
    z-index: -1;
    width: 102vw;
    height: 93vh;
    right: 0vw;
    bottom: 0vw;
}

#orderContent {
    padding-top: 20px;
}

.card-header {
    color: white;
}

.control-error {
    color: red;
}

#orderTable {
    max-height: 180px;
}

.content-box-2 {
    background-color: #007bff;
    color: white;
}

#btnAddToTable{
    position: relative;
    top: 0.5vw;
}