body {
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    width: 280px;
    position: relative;
    left: 26vw;
}

.btn {
    font-size: 1.5em;
    margin: 5px;
    border-radius: 10px;
    background-color: #ffffff;
    color: #000000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn:hover {
    background-color: #000000;
    color: #ffffff;
}

.form-control {
    font-size: 2em;
    text-align: right;
    background-color: #f8f9fa;
    border: none;
    border-bottom: 2px solid #007bff;
    border-radius: 0;
    box-shadow: none;
}
